mat-card {
  width: auto;
  display: grid;
  text-align: center;
  margin: 0 auto;

  mat-form-field {
    margin-top: 20px;
  }
  button {
    margin: auto;
    color: black;
  }

  mat-card-header {
    margin: auto;
  }
}
