.profile-container {
  width: auto;
  display: grid;
  text-align: center;
  margin: 0 auto;

  mat-card-header {
    text-align: center;
    margin: auto;
  }

  mat-card-content {
    margin-top: 20px;
  }

  mat-card-actions {
    width: auto;
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }
  button {
    color: black;
  }
}

.movie-grid {
  display: grid;
  grid: auto / 50% 50%;
  gap: 20px;
  padding: 20px 20px;
  margin: auto;
  margin-right: 20px;
  font-size: larger;
}

#favorite-movies-title {
  text-align: center;
}

.movie-card {
  mat-card-actions {
    width: auto;
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }

  button {
    color: black;
  }

  #favorites_icon {
    margin: 0;
  }
}

@media (max-width: 768px) {
  mat-card-actions {
    flex-direction: column;
    align-items: center;
  }

  mat-card-actions button {
    width: 100%;
    margin-bottom: 10px;
  }

  mat-card-actions button:last-child {
    margin-bottom: 0;
  }
}
